* {    background: #efeee7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333333;
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 150%;
}

header {
    background: #333;
    
}

h1{
    color: #eee;
    font-size: 42px;
    margin: 0;
    margin-bottom: 20px;
    padding: 40px 0;
    background-color: #333333;
    text-align: center;
}

h2 {
    font-size: 24px;
}

a {
    color: purple;
}

.container {
    margin: 0 auto;
    width: 1024px;

}

#main.bio, #contact-info, #bio.image {
    float: left;
}

#main.bio {
    width: 70%;
}

#contact-info {
    float: left;
    width: 30%;
}

#bio.image {
    width: 1200px;
    float: left;
}